# Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DEFAULT_TIMEZONE=UTC

# Open Exchange Rates
# Prefer storing this in Airflow Connection/Variable instead of raw env in real usage.
OPEN_EXCHANGE_RATES_APP_ID=your_app_id_here
